ALTER TABLE Users
DROP CONSTRAINT PK_Users

ALTER TABLE Users
ADD CONSTRAINT PK_UserId PRIMARY KEY(Id)

ALTER TABLE Users
ADD CONSTRAINT UQ_Username UNIQUE(Username)

ALTER TABLE Users
ADD CONSTRAINT CH_User CHECK(LEN(Username) >= 3)